<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Deck</key>
	<dict>
		<key>AS</key>
		<dict>
			<key>value</key>
			<integer>1</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>Ace</string>
			<key>image</key>
			<string>spades-a-75.png</string>
			<key>imagelg</key>
			<string>spades-a-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>2S</key>
		<dict>
			<key>value</key>
			<integer>2</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>Two</string>
			<key>image</key>
			<string>spades-2-75.png</string>
			<key>imagelg</key>
			<string>spades-2-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>3S</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>Three</string>
			<key>image</key>
			<string>spades-3-75.png</string>
			<key>imagelg</key>
			<string>spades-3-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>4S</key>
		<dict>
			<key>value</key>
			<integer>4</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>Four</string>
			<key>image</key>
			<string>spades-4-75.png</string>
			<key>imagelg</key>
			<string>spades-4-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>5S</key>
		<dict>
			<key>value</key>
			<integer>5</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>Five</string>
			<key>image</key>
			<string>spades-5-75.png</string>
			<key>imagelg</key>
			<string>spades-5-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>6S</key>
		<dict>
			<key>value</key>
			<integer>6</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>Six</string>
			<key>image</key>
			<string>spades-6-75.png</string>
			<key>imagelg</key>
			<string>spades-6-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>7S</key>
		<dict>
			<key>value</key>
			<integer>7</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>Seven</string>
			<key>image</key>
			<string>spades-7-75.png</string>
			<key>imagelg</key>
			<string>spades-7-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>8S</key>
		<dict>
			<key>value</key>
			<integer>8</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>Eight</string>
			<key>image</key>
			<string>spades-8-75.png</string>
			<key>imagelg</key>
			<string>spades-8-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>9S</key>
		<dict>
			<key>value</key>
			<integer>9</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>Nine</string>
			<key>image</key>
			<string>spades-9-75.png</string>
			<key>imagelg</key>
			<string>spades-9-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>10S</key>
		<dict>
			<key>value</key>
			<integer>10</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>Ten</string>
			<key>image</key>
			<string>spades-10-75.png</string>
			<key>imagelg</key>
			<string>spades-10-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>JS</key>
		<dict>
			<key>value</key>
			<integer>11</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>Jack</string>
			<key>image</key>
			<string>spades-j-75.png</string>
			<key>imagelg</key>
			<string>spades-j-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>QS</key>
		<dict>
			<key>value</key>
			<integer>12</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>Queen</string>
			<key>image</key>
			<string>spades-q-75.png</string>
			<key>imagelg</key>
			<string>spades-q-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>KS</key>
		<dict>
			<key>value</key>
			<integer>13</integer>
			<key>suit</key>
			<string>spades</string>
			<key>name</key>
			<string>King</string>
			<key>image</key>
			<string>spades-k-75.png</string>
			<key>imagelg</key>
			<string>spades-k-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>AC</key>
		<dict>
			<key>value</key>
			<integer>1</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>Ace</string>
			<key>image</key>
			<string>clubs-a-75.png</string>
			<key>imagelg</key>
			<string>clubs-a-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>2C</key>
		<dict>
			<key>value</key>
			<integer>2</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>Two</string>
			<key>image</key>
			<string>clubs-2-75.png</string>
			<key>imagelg</key>
			<string>clubs-2-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>3C</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>Three</string>
			<key>image</key>
			<string>clubs-3-75.png</string>
			<key>imagelg</key>
			<string>clubs-3-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>4C</key>
		<dict>
			<key>value</key>
			<integer>4</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>Four</string>
			<key>image</key>
			<string>clubs-4-75.png</string>
			<key>imagelg</key>
			<string>clubs-4-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>5C</key>
		<dict>
			<key>value</key>
			<integer>5</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>Five</string>
			<key>image</key>
			<string>clubs-5-75.png</string>
			<key>imagelg</key>
			<string>clubs-5-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>6C</key>
		<dict>
			<key>value</key>
			<integer>6</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>Six</string>
			<key>image</key>
			<string>clubs-6-75.png</string>
			<key>imagelg</key>
			<string>clubs-6-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>7C</key>
		<dict>
			<key>value</key>
			<integer>7</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>Seven</string>
			<key>image</key>
			<string>clubs-7-75.png</string>
			<key>imagelg</key>
			<string>clubs-7-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>8C</key>
		<dict>
			<key>value</key>
			<integer>8</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>Eight</string>
			<key>image</key>
			<string>clubs-8-75.png</string>
			<key>imagelg</key>
			<string>clubs-8-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>9C</key>
		<dict>
			<key>value</key>
			<integer>9</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>Nine</string>
			<key>image</key>
			<string>clubs-9-75.png</string>
			<key>imagelg</key>
			<string>clubs-9-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>10C</key>
		<dict>
			<key>value</key>
			<integer>10</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>Ten</string>
			<key>image</key>
			<string>clubs-10-75.png</string>
			<key>imagelg</key>
			<string>clubs-10-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>JC</key>
		<dict>
			<key>value</key>
			<integer>11</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>Jack</string>
			<key>image</key>
			<string>clubs-j-75.png</string>
			<key>imagelg</key>
			<string>clubs-j-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>QC</key>
		<dict>
			<key>value</key>
			<integer>12</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>Queen</string>
			<key>image</key>
			<string>clubs-q-75.png</string>
			<key>imagelg</key>
			<string>clubs-q-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>KC</key>
		<dict>
			<key>value</key>
			<integer>13</integer>
			<key>suit</key>
			<string>clubs</string>
			<key>name</key>
			<string>King</string>
			<key>image</key>
			<string>clubs-k-75.png</string>
			<key>imagelg</key>
			<string>clubs-k-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>AH</key>
		<dict>
			<key>value</key>
			<integer>1</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>Ace</string>
			<key>image</key>
			<string>hearts-a-75.png</string>
			<key>imagelg</key>
			<string>hearts-a-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>2H</key>
		<dict>
			<key>value</key>
			<integer>2</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>Two</string>
			<key>image</key>
			<string>hearts-2-75.png</string>
			<key>imagelg</key>
			<string>hearts-2-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>3H</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>Three</string>
			<key>image</key>
			<string>hearts-3-75.png</string>
			<key>imagelg</key>
			<string>hearts-3-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>4H</key>
		<dict>
			<key>value</key>
			<integer>4</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>Four</string>
			<key>image</key>
			<string>hearts-4-75.png</string>
			<key>imagelg</key>
			<string>hearts-4-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>5H</key>
		<dict>
			<key>value</key>
			<integer>5</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>Five</string>
			<key>image</key>
			<string>hearts-5-75.png</string>
			<key>imagelg</key>
			<string>hearts-5-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>6H</key>
		<dict>
			<key>value</key>
			<integer>6</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>Six</string>
			<key>image</key>
			<string>hearts-6-75.png</string>
			<key>imagelg</key>
			<string>hearts-6-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>7H</key>
		<dict>
			<key>value</key>
			<integer>7</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>Seven</string>
			<key>image</key>
			<string>hearts-7-75.png</string>
			<key>imagelg</key>
			<string>hearts-7-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>8H</key>
		<dict>
			<key>value</key>
			<integer>8</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>Eight</string>
			<key>image</key>
			<string>hearts-8-75.png</string>
			<key>imagelg</key>
			<string>hearts-8-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>9H</key>
		<dict>
			<key>value</key>
			<integer>9</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>Nine</string>
			<key>image</key>
			<string>hearts-9-75.png</string>
			<key>imagelg</key>
			<string>hearts-9-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>10H</key>
		<dict>
			<key>value</key>
			<integer>10</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>Ten</string>
			<key>image</key>
			<string>hearts-10-75.png</string>
			<key>imagelg</key>
			<string>hearts-10-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>JH</key>
		<dict>
			<key>value</key>
			<integer>11</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>Jack</string>
			<key>image</key>
			<string>hearts-j-75.png</string>
			<key>imagelg</key>
			<string>hearts-j-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>QH</key>
		<dict>
			<key>value</key>
			<integer>12</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>Queen</string>
			<key>image</key>
			<string>hearts-q-75.png</string>
			<key>imagelg</key>
			<string>hearts-q-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>KH</key>
		<dict>
			<key>value</key>
			<integer>13</integer>
			<key>suit</key>
			<string>hearts</string>
			<key>name</key>
			<string>King</string>
			<key>image</key>
			<string>hearts-k-75.png</string>
			<key>imagelg</key>
			<string>hearts-k-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>AD</key>
		<dict>
			<key>value</key>
			<integer>1</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>Ace</string>
			<key>image</key>
			<string>diamonds-a-75.png</string>
			<key>imagelg</key>
			<string>diamonds-a-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>2D</key>
		<dict>
			<key>value</key>
			<integer>2</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>Two</string>
			<key>image</key>
			<string>diamonds-2-75.png</string>
			<key>imagelg</key>
			<string>diamonds-2-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>3D</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>Three</string>
			<key>image</key>
			<string>diamonds-3-75.png</string>
			<key>imagelg</key>
			<string>diamonds-3-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>4D</key>
		<dict>
			<key>value</key>
			<integer>4</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>Four</string>
			<key>image</key>
			<string>diamonds-4-75.png</string>
			<key>imagelg</key>
			<string>diamonds-4-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>5D</key>
		<dict>
			<key>value</key>
			<integer>5</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>Five</string>
			<key>image</key>
			<string>diamonds-5-75.png</string>
			<key>imagelg</key>
			<string>diamonds-5-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>6D</key>
		<dict>
			<key>value</key>
			<integer>6</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>Six</string>
			<key>image</key>
			<string>diamonds-6-75.png</string>
			<key>imagelg</key>
			<string>diamonds-6-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>7D</key>
		<dict>
			<key>value</key>
			<integer>7</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>Seven</string>
			<key>image</key>
			<string>diamonds-7-75.png</string>
			<key>imagelg</key>
			<string>diamonds-7-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>8D</key>
		<dict>
			<key>value</key>
			<integer>8</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>Eight</string>
			<key>image</key>
			<string>diamonds-8-75.png</string>
			<key>imagelg</key>
			<string>diamonds-8-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>9D</key>
		<dict>
			<key>value</key>
			<integer>9</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>Nine</string>
			<key>image</key>
			<string>diamonds-9-75.png</string>
			<key>imagelg</key>
			<string>diamonds-9-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>10D</key>
		<dict>
			<key>value</key>
			<integer>10</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>Ten</string>
			<key>image</key>
			<string>diamonds-10-75.png</string>
			<key>imagelg</key>
			<string>diamonds-10-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>JD</key>
		<dict>
			<key>value</key>
			<integer>11</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>Jack</string>
			<key>image</key>
			<string>diamonds-j-75.png</string>
			<key>imagelg</key>
			<string>diamonds-j-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>QD</key>
		<dict>
			<key>value</key>
			<integer>12</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>Queen</string>
			<key>image</key>
			<string>diamonds-q-75.png</string>
			<key>imagelg</key>
			<string>diamonds-q-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
		<key>KD</key>
		<dict>
			<key>value</key>
			<integer>13</integer>
			<key>suit</key>
			<string>diamonds</string>
			<key>name</key>
			<string>King</string>
			<key>image</key>
			<string>diamonds-k-75.png</string>
			<key>imagelg</key>
			<string>diamonds-k-150.png</string>
			<key>pileIndex</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
